/* * {
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
} */
p {
    font-size: 0.8rem;
}
.main-header {
    
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    background-color: #318ebb;
    box-shadow: 0 0px 8px rgba(212, 212, 212, 0.4);
}
.main-header .logo {
    display: flex;
    flex: 2;
    justify-content: flex-start;
    align-items: center;
   
    padding-left: 2rem;
    cursor: pointer;

}
.logo img {
    height: 80px;
}
.main-header nav {
    display: flex;
    flex: 7;
}
.main-header nav .search-bar {
    display: flex;
    flex: 1;
    max-width: 800px;
    margin: 0 auto;
}
.main-header nav .search-bar .search {
    display: flex;
    align-items: center;
    flex: 1;
}
.main-header nav .search-bar .search .search__input {
    display: flex;
    flex: 1;
    padding: 1.2rem 1rem 1.2rem 4rem;
    height: 40px;
    font-size: 0.9rem;
    color: #4a4a4a;
    border: none;
    border-radius: 0;
    position: relative;
    right: 0;
    letter-spacing: 0.05rem;
    background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png) #ececec;
    background-repeat: no-repeat;
    background-position: 1rem 50%;
    background-size: 2rem;
    outline: 0;
    transition: background 0.3s ease-out, opacity 0.5s ease-out;
}
.main-header nav .search-bar .search .search__input:focus {
    background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png) no-repeat 1rem 50% #fff;
    background-size: 2rem;
}
.main-header nav .search-bar .search .search__btn {
    background: #36474f;
    height: 40px;
    border: none;
    width: 120px;
    color: #fff;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    outline: 0;
    transition: all 0.4s ease-out;
}
.main-header nav .search-bar .search .search__btn:hover {
    background: #263137;
}
.main-header nav .search-bar .search .search__icon {
    display: none;
}
.main-header .menu {
    display: flex;
    flex: 2;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    font-size: 2rem;
    color: #fff;
    height: 80px;
    line-height: 80px;
    cursor: pointer;
}
.suggestion {
    display: flex;
    position: absolute;
    top: 60px;
    border-top: 1px solid #f1f1f1;
    opacity: 0;
    visibility: hidden;
}
.suggestion.active {
    opacity: 1;
    visibility: visible;
    transform-origin: center top;
    transform: translateZ(0);
    backface-visibility: hidden;
    animation: rotation-show 0.5s 0.3s;
    animation-fill-mode: backwards;
}
.suggestion__content {
    background: #fff;
    display: flex;
    flex: 1;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    padding: 0.5em 1em;
    font-size: 0.8rem;
}
.suggestion__content .suggestion__content-right-side, .suggestion__content .suggestion__content-left-side {
    flex: 1;
    padding: 1em;
}
.suggestion__content .suggestion__content-right-side h5, .suggestion__content .suggestion__content-left-side h5 {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: #757575;
    font-weight: 600;
    margin-bottom: 5px;
}
.suggestion__content .suggestion__content-right-side ul, .suggestion__content .suggestion__content-left-side ul {
    margin: 0;
    padding: 0;
}
.suggestion__content .suggestion__content-right-side ul li, .suggestion__content .suggestion__content-left-side ul li {
    list-style-type: none;
    padding: 2px 0;
}
.suggestion__content .suggestion__content-left-side ul li {
    list-style-type: none;
    padding: 2px 0;
    color: #328dbb;
    cursor: pointer;
    transition: color 0.4s ease-out, transform 0.4s ease;
}
.suggestion__content .suggestion__content-left-side ul li:hover {
    color: #13587b;
    transform: translateX(3px);
}
.suggestion__content .suggestion__content-right-side h5 {
    text-align: center;
}
.suggestion__content .suggestion__content-right-side ul {
    padding: 0;
    max-width: 200px;
    margin: auto;
}
.suggestion__content .suggestion__content-right-side ul li {
    border: 1px solid #f3f3f3;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: background 0.3s ease-out, border 0.4s ease-in-out;
}
.suggestion__content .suggestion__content-right-side ul li:hover {
    border: 1px solid #607d8b;
    background: #f1f1f1;
}
.hide-element {
    display: none !important;
}
.mobile-search {
    margin: 0 1em;
    opacity: 1 !important;
    visibility: visible !important;
    width: 100%;
}
.close-icon {
    color: #909090 !important;
    position: absolute !important;
    right: 8% !important;
    font-size: 1rem;
}
@keyframes rotation-show {
    0% {
        transform: perspective(1000px) rotateX(-90deg);
   }
    100% {
        transform: perspective(1000px) translateY(0);
   }
}
@media only screen and (max-width: 600px) {
    .search__input {
        font-size: 16px !important;
        opacity: 0;
        visibility: hidden;
        width: 0;
   }
    .search__btn {
        display: none !important;
   }
    .search__icon {
        display: flex !important;
        color: #fff;
        align-items: center;
        flex: 6;
        position: absolute;
        right: 5rem;
        cursor: pointer;
        height: 80px;
        line-height: 80px;
   }
    .message {
        position: relative;
        top: 80px;
        background: #f3f3f3;
        padding: 0.5rem 1.5rem;
        display: block !important;
        text-align: center;
   }
}
